.sidebar-menu{
    display:flex;
    width:100%;
    background-color:white;
    padding:10px;
    justify-content:center
}

ul{
    list-style-type:none;
    display:flex;
    flex-direction: column;
    border:2px solid green;
    padding:20px;
    gap:20px;
    width:100%;
}
li{
    display:flex;
}
.student, .mentor{
    display:flex;
    width: 100%;
    background-color:aliceblue;
    color:black;
    border:2px solid blue;
    
}
li:hover{
    cursor:pointer;
    background-color:lightblue

}