.home-container{
    display: flex;
    column-gap: 20px;
    width:100%;
   
}
.sidebar{
    display: flex;
    border: 3px solid red;
    height:100vh;
    position: sticky;
    
}
.content{
    display: flex;
    border: 3px solid blue;
    width: 100%;
}